/* Basic Animations */
@keyframes float {
  0%, 100% {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .6);
    transform: translatey(0)
  }

  50% {
    box-shadow: 0 25px 15px 0 rgba(0, 0, 0, .2);
    transform: translatey(-20px)
  }
}
@keyframes sidetoside {
  0%, 100% {
    transform: translatex(6px)
  }

  50% {
    transform: translatex(-6px)
  }
}

/* Transparent Backgrounds & Tweaks: NMLZ */
.bda-dark,
.da-appMount,
.da-app,
#friends,
#friends .friends-table .friends-table-body,
.app,
.app .flex-vertical .theme-dark,
.da-layer,
.da-layers,
.da-guildsWrapper,
.da-base,
.da-guilds,
.da-wrapperMutedText .da-wrapper,
.da-horizontalReverse,
.da-directionRowReverse,
.da-justifyStart,
.da-alignStretch,
.da-scrollerWrap,
.da-contentColumnDefault,
.da-standardSidebarView,
.da-sidebarRegion,
.da-contentRegion,
.search-bar,
.search,
.da-selector,
.da-contentColumn,
.da-chat,
.da-messages,
.da-firefoxFixScrollFlex,
.da-topic,
.da-titleText,
.da-messagesWrapper,
.da-message .da-content,
.da-message .da-markup, .da-message .da-container,
.da-userPopout,
.da-keybindGroup,
.da-gameLibrary {
  background: 0 !important;
}
.da-channels, .da-guilds, .da-guildsWrapper, .da-titleBar, .da-members, .da-messages, .theme-dark .da-chat form, .da-headerBar  {
  background: rgba(0, 0, 0, .3) !important;
}

/* Makes switch's and cards a bit more visable */
.da-switch {
  background: rgba(155, 155, 155, .4) !important
}
.da-card, .da-checked, .da-checkbox {
  background: rgba(2, 2, 2, .2) !important;
  border-radius: 0px !important;
}

/* Scroller  */
.scroller-wrap .scroller::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .9) !important;
  border: 2px solid rgba(0, 0, 0, .1) !important;
}
.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, .1) !important;
  border: none;
}
/* END Transparent Backgrounds & Tweaks */

/* Set Backgrounds */
.da-appMount {
  background: var(--mainback) !important;
}
.da-userPopout {
  background: var(--userpop) !important;
}
/* END Set Backgrounds */

/* Extra Text, Member Areas */
.da-embedInner {
  background: var(--embedback) !important
}
.theme-dark .da-chat form {
  margin: 0px;
}
.da-innerNoAutocomplete {
  border-radius: var(--textborderrad)
}
/* Thought it might look neat if they connected borders. */
/* Probably just me though. */
.da-titleBar {
  border-bottom: var(--generalborders) !important;
}
.da-channels {
  border-right: var(--generalborders) !important;
}
.da-members {
  border-left: var(--generalborders) !important;
}
.da-headerBar {
  border-bottom: var(--generalborders) !important;
}
.da-guildInner {
  border-radius: 5px !important;
}
.da-member:hover .da-content {
  transition: all 1s ease-in;
  background-color: var(--secondarycolor) !important;
}
.da-member:not(:hover) .da-content {
  transition: all 1s ease-in;
}
.da-channels .da-content {
  transition: all .4s ease-in;
}
.da-channels .da-content:hover {
  color: #fff !important;
  background-color: rgba(114, 137, 218, .5) !important;
}
.da-channels .da-contentSelectedText {
  background: rgba(114, 137, 218, .7) !important;
  transition: all .2s ease-in;
}

/* Saw another theme do something like this, can't remember who... Think it was in the BD server.
 * Tried to redo it but still not as good.  */
.wrapperCollapsed-3Fbxl6, .wrapperDefault-10Jfvz, .wrapperHovered-28fu1D, .wrapperHoveredCollapsed-1PADEo, .wrapperMuted-3KeA2M, .wrapperUnread-1JPWj3 {
  margin-bottom: 10px !important;
  z-index: 10;
  right: 25px !important;
  left: 0 !important;
}
.iconDefault-3Gr8d2, .iconHovered-2L3-fB, .iconCollapsed-3hFp_8, .iconHovered-2L3-fB, .iconHoveredCollapsed-3caIIZ, .iconMuted-1HVBGH {
  content: "" !important;
  display: none !important;
}
.nameDefault-2DI02H::before, .nameHovered-1gxhWH:before, .nameCollapsed-34uFWo::before, .nameHovered-1gxhWH::before, .nameHoveredCollapsed-2orEWB::before, .nameMuted-1MCOt4::before {
  content: '' !important;
  z-index: -1;
  position: absolute !important;
  right: 25px !important;
  left: 0 !important;
  border-bottom: 20px solid rgba(114, 137, 218, .5) !important;
  border-right: 25px solid rgba(0,0,0,0) !important;
}
.nameDefault-2DI02H, .nameHovered-1gxhWH, .nameCollapsed-34uFWo, .nameHoveredCollapsed-2orEWB, .nameHovered-1gxhWH, .nameMuted-1MCOt4 {
  content: "" !important;
  z-index: 3 !important;
  color: var(--catname) !important;
  font-size: 16px !important;
}
.nameCollapsed-34uFWo, .nameMuted-1MCOt4 {
  color: var(--catnamecollapsed) !important;
}
/* Pinned Messages */
.da-messagesPopoutWrap {
  background: rgba(0, 0, 0, .4) !important;
}
.da-messagesPopoutWrap .da-header {
  background: rgba(0, 0, 0, .6) !important;
  border-bottom: var(--generalborders) !important;
}
.da-messagesPopoutWrap .da-messageGroupWrapper {
  border-radius: 1px !important;
  background: rgba(0, 0, 0, .7) !important;
}
/* END Extra Text, Member Areas */

/* Popouts */
.da-popouts {
  background: rgba(0, 0, 0, .4) !important;
}

/* User Pop */
.da-userPopout .da-role>.da-roleName {
  transition: all .3s ease-in !important;
  opacity: 0;
  width: 0px;
}
.da-userPopout .da-role:hover>.da-roleName {
  opacity: 1;
  width: 100%;
}
.da-userPopout .da-role:not(:hover)>.da-roleName {
  transition-delay: 2s !important;
}
/* Probably don't need all the + selectors buuuuuuuuut ye. */
.da-headerNormal, .da-headerNormal+.da-body, .da-headerNormal+.da-body+.da-footer,
.da-headerPlaying, .da-headerPlaying+.da-body,.da-headerPlaying+.da-body+.da-footer,
.da-headerStreaming+.da-body, .da-headerStreaming+.da-body+.da-footer {
  background: rgba(0, 0, 0, 0.5) !important;
}
.da-headerSpotify, .da-headerSpotify+.da-body, .da-headerSpotify+.da-body+.da-footer {
  background: rgba(0, 100, 0, 0.5) !important;
}
.da-quickMessage {
  border-radius: 0px;
  background: rgba(0, 0, 0, 0.7) !important;
}
.da-autocomplete, .da-autocompleteInner, .da-resultsGroup, .da-popout .da-container {
  background: rgba(0, 0, 0, 0.4) !important;
}
.da-selectorSelected {
  background: rgba(114, 137, 218, 0.4) !important;
}
.da-resultsGroup .da-option {
  transition: all .3s ease-in !important;
  background: rgba(0, 0, 0, 0.8) !important;
}
.da-resultsGroup .da-option:hover {
  background: rgba(114, 137, 218, 0.4) !important;
}
.da-resultsGroup .da-option::after  {
  background: 0 !important;
}

/* Profile Popout */
.da-topSectionNormal {
  background: center/cover no-repeat var(--normalback) !important;
}
.da-topSectionPlaying {
  background: center/cover no-repeat var(--playingback) !important;
}
.da-topSectionSpotify {
  background: center/cover no-repeat var(--spotifyback) !important;
}
.da-topSectionStreaming {
  background: center/cover no-repeat var(--streamingback) !important;
}
/* Search Area */
.search-results-wrap {
  background: 0 !important;
}
.search-results-wrap .search-header {
  background: rgba(0, 0, 0, 0.9) !important;
  border: var(--generalborders);
}
.search-results-wrap .search-result:before, .search-results-wrap .search-result:after {
  background: 0 !important;
}
.search-results-wrap .search-result .search-result-message.hit {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background: rgba(0, 0, 0, 0.5) !important;
}
.search-results-wrap .channel-separator .channel-name {
    background: 0 !important;
}
/* END Popouts */

/* Custom Friends Tab */
.friends-row, .friends-row .avatar-small, .friends-row .da-nameTag,
.friends-row .friends-column-status,
.friends-row .da-iconSizeSmall,
.friends-row .friends-column .friends-column-guilds {
  transition: all 1s !important;
  overflow: visible !important;
  background-size: cover !important;
}
.friends-row:hover {
  height: 90px !important;
  border-radius: 0px !important;
  background: var(--friendshover) !important;
}
.friends-row:hover .avatar-small {
  width: 75px !important;
  height: 75px !important;
  border: 1px solid var(--primarycolor) !important;
  border-radius: 5px !important;
  background-size: cover !important;
}
.friends-row:hover .da-nameTag {
  margin-top: -25px !important;
}
.friends-row:hover .friends-column-status {
  margin-left: -115px !important;
  margin-top: 20px !important;
}
.friends-row:hover .friends-column .friends-column-guilds {
  margin: 0 !important;
}
.friends-row:hover .da-iconSizeSmall {
  opacity: 1 !important;
  width: 70px !important;
  height: 70px !important;
  border: 1px solid var(--secondarycolor) !important;
  border-radius: 5px !important;
  background-size: cover !important;
  left: 20px !important;
}
.friends-row .friends-column-actions .friends-action {
  visibility: visible !important;
  transition: all 1s !important;
  background-size: 20px 20px !important;
}
.friends-row:hover .friends-column-actions .friends-action {
  width: 50px !important;
  height: 50px !important;
  background-size: 35px 35px !important;
}
.friends-row:hover .friends-column-actions .friends-action.friends-action-video-call {
  background-color: rgba(100, 255, 230, 0.5) !important
}
.friends-row:hover .friends-column-actions .friends-action.friends-action-voice-call {
  background-color: rgba(0, 255, 40, 0.5) !important
}
.friends-row:hover .friends-column-actions .friends-action.friends-action-remove {
  background-color: rgba(255, 0, 0, 0.8) !important
}
/* END Custom Friends Tab */

/* Game/Library Tabs */
.da-table .da-stickyHeader, .da-root .da-libraryHeader, .root-1BQpZw, .browseWrapper-2Qy6vG .da-momentum {
  background-color: rgba(0, 0, 0, 0.5) !important
}

/* END Game/Library Tabs */

/* Animations */
  /* Float */
.da-userPopout, .root-SR8cQa {
  animation: float var(--float-speed) ease-in-out infinite
}
/* END Animations */

/* Random Stuff */
.da-accountDetails .discriminator {
  font-size: 0px;
}
.da-accountDetails .discriminator::before {
  font-size: 10px !important;
  display: static !important;
  content: "Darko Tweaks v4.2" !important
}
.da-wordmark svg path {
  display: none;
}
.da-wordmark svg {
  background: center/contain no-repeat url(https://i.imgur.com/nconxl0.gif) !important;
  margin-top: 0px !important;
  width: 200% !important;
}
.da-botTag {
  background-color: var(--tagbackground);
  color: var(--tagcolor)
}
.root-SR8cQa {
  width: var(--rootwidth);
  height: var(--rootheight)
}
#discord-a {
  /* animation: sidetoside 12s ease-out infinite;
  mix-blend-mode: exclusion; */
  display: none;
}
.da-homeIcon {
  mix-blend-mode: color-dodge;
  background: center/cover no-repeat url(https://i.imgur.com/VgOxIl0.png) !important;
  background-size: 125% !important;
}
/* END Random Stuff */


/* Settings Areas */
  /* Hover item animations */
.da-sidebar .da-notSelected:not(:hover), #bd-settings-sidebar .ui-tab-bar-item:not(:hover) {
  transition: all 1.2s !important;
  transform: scale(1)
}
.da-sidebar .da-notSelected:hover, #bd-settings-sidebar .ui-tab-bar-item:hover {
  transition: all 1.2s !important;
  transform: scale(1.1)
}
.da-sidebar .da-selected, .theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected{
  transform: scale(1.1) !important
}
  /* END Hover Animation */
.contentRegion-3nDuYy, .sidebarRegionScroller-3MXcoP {
  background: rgba(0, 0, 0, 0.5) !important;
}
.da-keybindGroup {
  background: 0 !important;
  margin-bottom: 20px;
}
.da-keybindGroup:before, .user-settings-games .game::before, .da-emojiRow::before, .da-card~.da-member::before, .da-inviteSettingsInviteRow::before, .guild-settings-banned-user::before  {
  background: rgba(20, 20, 20, 0.5) !important;
  border: 1px solid rgba(100, 100, 100, 0.3) !important;
  border-radius: 0;
  bottom: -1px;
  content: "";
  left: -20px;
  position: absolute;
  right: -20px;
  top: 0;
}
.Select-menu-outer {
  background: rgba(0, 0, 0, 0.5) !important;
}
/* Techniclly settings, so I'll putting it here. */
.da-menu {
  background: rgba(0,0,0,.7) !important
}
/* This took me longer than it should have... */
.da-sidebar .da-header {
  margin-top: 10px;
  padding: 1px 1px 1px 1px;
  position: relative;
  z-index: 100;
  color: #fff !important;
  margin-bottom: 10px;
}
.da-sidebar .da-header::after {
  content: '';
  z-index: -95;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 25px solid rgb(114, 137, 218) !important;
  border-right: 40px solid rgba(0,0,0,0) !important;
}
/* END Settings Areas */